In [ ]:
import pandas as pd
df = pd.read_csv('motorcycle_data.csv',encoding='latin-1')

In [ ]:
df.style.background_gradient(cmap='Oranges')

In [4]:
df1 = pd.read_csv('motorcycle theory test data.csv',encoding='latin-1')

In [5]:
female_data = df1[df1['Gender'] == 'Female']

In [6]:
female_data.style.background_gradient(cmap='PuBu')

In [9]:
male_data = df1[df1['Gender'] == 'Male']

In [11]:
male_data.style.background_gradient(cmap='PuBu')

In [12]:
df2 = pd.read_csv('car theory test data.csv',encoding='latin-1')

In [13]:
female_data1 = df2[df2['Gender'] == 'Female']

In [17]:
female_data1.style.background_gradient(cmap='Purples')

In [18]:
male_data1 = df2[df2['Gender'] == 'Male']

In [19]:
male_data1.style.background_gradient(cmap='Purples')